#.DS_Store
#/.idea
#*.iml
#**/.ipynb_checkpoints/
#ConvertBondWheel/__pycache__/
#policy/analysis/__pycache__/
#ConvertBondWheel/spiders/__pycache__/


.DS_Store
/.idea
*.iml
.vscode
.git
.gitignore
.env
data

**/.ipynb_checkpoints
**/__pycache__
**/*.pyc
